@font-face {
  font-family: clash;
  src: url(clash-grotesk-semibold.otf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #09090A;
  overflow-x: clip;
}

.page1 {
  height: 100vh;
  width: 100%;
  position: relative;
}

.giant {
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  transform: translateY(-26%);
  width: 100%;       
  min-height: 200vh;  
  height: auto;
  z-index: 0;
  pointer-events: none;
}

.page1 .overlay {
  position: absolute;    
  top: 20%;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;    
  pointer-events: none;  
  z-index: 1;           
}

.navbar {
  height: 13%;
  width: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: system-ui;
  position: relative;
  z-index: 10;
}

.logo {
  padding: 2px 18px;
  text-align: center;
  display: flex;
  gap: 8px;
  border: none;
  background-color: transparent;
  align-items: center;
  border-radius: 10px;
  font-size: 30px;
  font-weight: 350;
  color: #C5C6CB;
  letter-spacing: -1px;
}

.logo h3 {
  font-size: 43px;
  color: #C5C6CB;
  font-weight: 500;
}

.logo:hover {
  background-color: #292d30;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-left: 130px;
}

.header > div {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
}

.docs h3 {
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.docs h4 {
  font-weight: 500;
  font-size: 14px;
}

.docs h3:hover {
  color: #c5c6cb;
}

.communities h3 {
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.resources h3 {
  font-weight: 600;
  cursor: pointer;
  font-size: 16px;
}

.buttons {
  display: flex;
  gap: 17px;
}

.buttons i {
  font-size: 16px;
}

.discord {
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  background-color: transparent;
  border-radius: 6px;
  color: white;
  display: flex;
  gap: 8px;
  cursor: pointer;
}

.discord:hover {
  background-color: #7b7d82;
}

.explore {
  padding: 12px 18px;
  font-size: 16px;
  border: none;
  color: #292d30;
  border-radius: 6px;
  display: flex;
  gap: 8px;
  cursor: pointer;
}

.explore:hover {
  background-color: #c5c6cb;
}

.center {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.earth img {
  position: absolute;
  width: 128px;
  top: 73%;
  left: 46%;
}

.explorer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 720px;
}

.explorer h1{
  margin: 10px 0;
  font-size: 70px;
  color: #0E0F10;
  font-family: clash;
}

.explorer p{
  text-align: center;
  font-size: 30px;
  color: #292D30;
  font-family: system-ui;
  margin-bottom: 47px;
}

.explorer button{
  padding: 20px 26px;
  font-size: 16px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 40px;
  display: flex;
  gap: 19px;
  cursor: pointer;
}

.explorer button:hover{
  background-color: #212528;
}

.page2 {
  width: 100%;
  height: 100vh;
  position: relative;
}

.big{
  position: absolute;
  top: 235px;
  left: 150px;
  width: 80%;        
  height: auto;
  z-index: 0;
  pointer-events: none;
}

.era{
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 59%;
  left: 32%;
  position: absolute;
  
}

.era button{
  font-family: system-ui;
  background-color: transparent;
  border: 1px solid white;
  font-size: 16px;
  color: white;
  padding: 6px 14px;
  font-weight: 500;
  border-radius: 40px;
  cursor: pointer;
}

.era h2{
  text-align: center;
  color: white;
  font-size: 70px;
  font-family: clash;
}

.era p{
  color: #7B7D82;
  text-align: center;
  font-family: system-ui;
  font-size: 25px;
}

.page3{
  height: 160vh;
  width: 100%;
  position: relative;
}

.blue{
  position: absolute;
  width: 63%;
  height: auto;
  left: 18%;
}

.cat{
  position: absolute;
  height: auto;
  width: 63%;
  left: 18%;
}

.page4{
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1fr;
  grid-template-rows: 300px 1fr 1fr 1fr;
  grid-template-areas: "timeline timeline bluecard"
                       "nft dao bluecard"
                       "poap defi bluecard"
                       "soon soon bluecard";
  padding: 35px;
  grid-gap: 35px;
  position: relative;
}

.page4 .bring{
  position: absolute;
  overflow: hidden;
  width: 67%;
  left: 83%;
  top: 380px;
  height: auto;
  transform: scaleX(-1);
}

.timeline{
  grid-area: timeline;
  padding-top: 120px;
}

.timeline h4{
  color: #7B7D82;
  font-size: 16px;
  font-family: system-ui;
  font-weight: 400;
}

.timeline h1{
  color: white;
  font-family: clash;
  font-size: 57px;
}

.timeline p{
  color: #7B7D82;
  font-family: system-ui;
  font-size: 24px;
}

.nft{
  grid-area: nft;
}

.nft h4{
  color: white;
  font-family: system-ui;
  font-size: 18px;
}

.nft p{
  color: #7B7D82;
  font-family: system-ui;
  font-size: 16px;
}

.dao{
  grid-area: dao;
}

.dao h4{
  color: white;
  font-family: system-ui;
  font-size: 18px;
}

.dao p{
  color: #7B7D82;
  font-family: system-ui;
  font-size: 16px;
}

.defi{
  grid-area: defi;
}

.defi h4{
  color: white;
  font-family: system-ui;
  font-size: 18px;
}

.defi p{
  color: #7B7D82;
  font-family: system-ui;
  font-size: 16px;
}

.poap{
  grid-area: poap;
}

.poap h4{
  color: white;
  font-family: system-ui;
  font-size: 18px;
}

.poap p{
  color: #7B7D82;
  font-family: system-ui;
  font-size: 16px;
}

.soon{
  grid-area: soon;
}

.soon h4{
  color: white;
  font-family: system-ui;
  font-size: 18px;
}

.bluecard{
  grid-area: bluecard;
}

.bluecard img{
  height: auto;
  width: 730px;
}

.page5{
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  padding: 35px;
  grid-template-areas: "media profile";
  position: relative;
}

.page5 .ring{
  position: relative;
  width: 140%;
  height: auto;
  bottom: 430px;
  left: -740px;
}

.media{
  grid-area: media;
}

.media img{
  width: 101%;
  height: auto;
}

.profile{
  color: white;
  grid-area: profile;
  display: flex;
  margin-top: 40%;
  justify-items:center;
  flex-direction: column;
  gap: 10px;
}

.profile h4{
  color: #7B7D82;
  font-family: system-ui;
  font-weight: 500;
  font-size: 15px;
}

.profile h1{
  color: white;
  font-family: clash;
  font-size: 57px;
}

.profile p{
  color: #7B7D82;
  font-family: system-ui;
  font-weight: 400;
  font-size: 24px;
}

.page6{
  height: 110vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  padding: 35px;
  grid-template-areas: "graph multicard";
}

.graph{
  grid-area: graph;
  display: flex;
  margin-top: 40%;
  justify-items:center;
  flex-direction: column;
  gap: 10px;
}

.graph h4{
  color: #7B7D82;
  font-family: system-ui;
  font-weight: 500;
  font-size: 15px;
}

.graph h1{
  color: white;
  font-family: clash;
  font-size: 57px;
}

.graph p{
  color: #7B7D82;
  font-family: system-ui;
  font-weight: 400;
  font-size: 24px;
}

.multicard{
  grid-area: multicard;
}

.multicard img{
  width: 101%;
  height: auto;
}

.page7{
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 160px 1fr 1fr;
  grid-template-areas: "protocol protocol protocol"
                       "visual earn app"
                       "visual earn chain";
  padding: 35px;
  grid-gap: 35px;
}

.page7 > div {
  border-radius: 10px;
  overflow: hidden;
}

.protocol{
  grid-area: protocol;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.protocol h4{
  color: #7B7D82;
  font-size: 14px;
  font-family: system-ui;
  font-weight: 500;
}

.protocol h1{
  font-family: clash;
  font-size: 60px;
  color: white;
}

.visual{
  background-color: #0E0F10;
  grid-area: visual;
  border: 2px solid #292D30;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 35px;
  gap: 16px;
}

.visual h4{
  color: #7B7D82;
  font-size: 14px;
  font-family: system-ui;
  font-weight: 500;
}

.visual h2{
  font-family: clash;
  font-size: 30px;
  color: white;
}

.coin img,
.multicoin img {
  display: block;
  margin: 0 auto; /* centers horizontally */
  width: 330px;
  height: auto;
}

.earn{
  background-color: #0E0F10;
  border: 2px solid #292D30;
  grid-area: earn;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 35px;
  gap: 16px;
}

.earn h4{
  color: #7B7D82;
  font-size: 14px;
  font-family: system-ui;
  font-weight: 500;
}

.earn h2{
  font-family: clash;
  font-size: 30px;
  color: white;
}

.app{
  background-color: #0E0F10;
  grid-area: app;
  border: 2px solid #292D30;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 35px;
  gap: 16px;
}

.app h2{
  font-family: clash;
  font-size: 30px;
  color: white;
}

.app h4{
  color: #7B7D82;
  font-size: 14px;
  font-family: system-ui;
  font-weight: 500;
}

.chain{
  background-color:#0E0F10;
  grid-area: chain;
  border: 2px solid #292D30;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 35px;
  gap: 16px;
}

.chain h2{
  font-family: clash;
  font-size: 30px;
  color: white;
}

.chain h4{
  color: #7B7D82;
  font-size: 14px;
  font-family: system-ui;
  font-weight: 500;
}

.page8{
  width: 100%;
  height: 90vh;
  background-image: url(./images/halfball.svg);
  background-position: center;
  background-size: cover;
  
}

.beech{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 210px;
  gap: 30px;
}

.dharti{
  height: auto;
  width: 130px;
  display: block;
  margin: 0 auto;
}

.beech h1{
  text-align: center;
  font-family: clash;
  font-size: 60px;
  color: #0E0F10;
  letter-spacing: -1px;
  line-height: 1;
}

.beech button{
  padding: 16px 20px;
  font-size: 16px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 40px;
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.beech h4{
  font-weight: 400;
}

.beech button:hover{
  background-color: #212528;
}

.page9{
  height: 54vh;
  width: 100vh;
  background-color: #0A0A0B;
}